body {
  font-family: Arial, sans-serif;
  padding-inline: 20px;
}

h1 {
  color: #333;
}

p {
  margin: 10px 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

a{
  color: #000;
  text-decoration: none;
  &:hover{
    color: color-mix(in srgb, #000 50%, transparent);
  }
}

form {
  margin-bottom: 20px;
}

/* header */

header{
  width: 100%;
  height: auto;
  padding-block:1rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom:1px solid color-mix(in srgb, #000 20%, transparent);

  position: sticky;
  top: 0;
  b{
    font-weight: bold;
  }
  h1{
    font-size: 24px;
    font-weight: bold;
  }
  .h_user{
    p{
      border-radius: .5rem;
      padding:.5rem 1rem;
      border:1px solid color-mix(in srgb, #000 20%, transparent);
    }
  }
  nav{
    display: flex;
    gap: 1rem;
  }
  ul{
    display: flex;
    width:fit-content;
    align-items: center;
    gap: .5rem;
    padding: 0;
    margin: 0;
    li{
      list-style-type: none;
      border-radius: .5rem;
      padding:.5rem 1rem;
      border:1px solid color-mix(in srgb, #000 20%, transparent);
    }
  }
}

input[type='text'],
input[type='password'],
input[type='email'],
textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
}

input[type='submit'] {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

input[type='submit']:hover {
  background-color: #45a049;
}

.recipe-items{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap:1rem;
}
.recipe-item{
  width: 100%;
  img{
    width: 100%;
    object-fit: cover;
    aspect-ratio: 4/3;
  }
  .no-image{
    background-image: url(../images/no_photography.png);
    width: 100%;
    aspect-ratio: 4/3;
    background-position:center;
    background-repeat: no-repeat;
    background-color: #efefef;
  }
  li {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ccc;
  }
}